:root {
  --white: #ffffff;
  --black: #000000;
  --very-ligth-pink: #d6d6d6;
  --very-dark-pink: #808080;
  --text-input-field: #f7f7f7;
  --hospital-green: #a3cea8;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}